@* View created for the add state function *@
@model Exercises.Models.Data.State
@{
    ViewBag.Title = "AddState";
}
<h2>Add State</h2>
<div class="row">
    <div class="col-xs-12">
        <h3>Add State</h3>
        @Html.ActionLink("Return to List", "States", "Admin")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                <label>State ABB</label>
                @Html.TextBoxFor(s => s.StateAbbreviation, new { @class = "form-control", placeholder = "ST" })
                <label>State Name</label>
                @Html.TextBoxFor(s => s.StateName, new { @class = "form-control", placeholder = "State" })
            </div>
            <button type="submit" class="btn btn-sm btn-primary">Add</button>
        }
    </div>
</div>   