@model List<Exercises.Models.Data.Course>
@{
    ViewBag.Title = "Courses";
}
<h2>Courses</h2>
<div class="row">
    <div class="col-xs-12">

        @Html.ActionLink("Add Course", "AddCourse", "Admin", null, new { @class = "btn btn-primary" })
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped" style="width: auto;">
            <thead>
                <tr>
                    <th>Course</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var course in Model)
                {
                    <tr>
                        <td>@course.CourseName</td>
                        <td>
                            @* variable 'courseId' used in the controller for the HTTP Gets for EditState() and DeleteState()*@
                            @Html.ActionLink("Edit", "EditCourse", "Admin", new { courseId = course.CourseId }, null)
                            @Html.ActionLink("Delete", "DeleteCourse", "Admin", new { courseId = course.CourseId }, null)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>